.App {
  text-align: center;
  background-color: #fbfbf8;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar {
    margin: 10px 30px;;
}

.Navbar > * {
    opacity: 80%;
    transition: opacity 0.5s;
}

.Navbar > *:hover {
    opacity: 100%;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h2 {
    color: #495057;
    font-style: italic;
    padding-bottom: 10px;
}

.colorStation {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.colorStation > * {
    margin: 10px 20px;
    opacity: 85%;
    transition: opacity 0.5s;
}

.colorStation > *:hover {
    opacity: 100%;
}

.squareSwatch {
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    border-radius: 2px;
}

.palette {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.palette-enter-active {
    opacity: 0%;
    height: 0px;
}

.palette-enter-done {
    opacity: 100%;
    height: 90px;
    transition: opacity 1s, height 0.75s;
    transition-delay: 0.5s, 0s;
}

.prompt {
    margin: auto;
    padding-bottom: 10px;
    width: 300px;
}

/* .prompt-exit-active {
    opacity: 100%;
}

.prompt-exit-done {
    opacity: 0%;
    transition: opacity 1s;
} */

button {
    border: none;
    background-color: transparent;
}

.icon {
    width: 30px;
    opacity: 50%;
    transition: opacity 0.5s;
}

.icon:hover {
    opacity: 100%;
}

.button {
    margin: 30px;
}

.circleSwatch {
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    border-radius: 50%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    transition: transform 0.5s;
}

.circleSwatch:hover {
    transform: scale(0.9);
}

.swatchCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swatchCollection {
    display: flex;
    justify-content: center;
    /* width: 300px; */
}

#paletteStation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderWidget {
    display: flex;
    align-items: center;
    position: sticky;
}

p {
    color: #767676;
    font-size: 16px;
    width: 250px;
}

.rightText {
    text-align: right;
}

.leftText {
    text-align: left;
}

.lightingSlider {
    transform: rotate(90deg);
}

.iconPanel {
    display: flex;
    flex-direction: column;
    margin: 0px 45px;
}

.iconPanel .icon {
    width: 20px;
}
