.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.colorStation {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
}

.colorStation > * {
    margin: 10px 20px;
}

.squareSwatch {
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    border-radius: 2px;
}

.palette {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.button {
    margin: 30px;
}

.circleSwatch {
    box-shadow: 0 0 2px rgba(0,0,0,.3), 0 4px 8px rgba(0,0,0,.3);
    border-radius: 50%;
    margin: 10px 10px;
    width: 50px;
    height: 50px;
    transition: width 0.5s, height 0.5s;
}

.circleSwatch:hover {
    width: 75px;
    height: 75px;
}

.swatchCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swatchCollection {
    display: flex;
    justify-content: center;
    width: 300px;
}

#paletteStation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightingSlider {
    transform: rotate(90deg);
    order: 1;
}
